<%- include("../../partials/head.ejs") %>
</head>
<body>
        <%- include("../../partials/alert.ejs") %>
        <%- include("../../partials/header.ejs") %>
        <section id="admin-intro">
            <div class="breadcrumb">
                <h1>ADMIN DASHBOARD</h1>
                <p><span>HOME</span> / DASHBOARD</p>
            </div>
        </section>
        
    </header>
    <%- include("./side-panel.ejs") %> 
    <%- include("../../partials/footer.ejs") %>

</body>
</html>