<%- include("../../partials/head.ejs")  %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" integrity="sha512-zxBiDORGDEAYDdKLuYU9X/JaJo/DPzE42UubfBw9yg8Qvb2YRRIQ8v4KsGHOx2H1/+sdSXyXxLXv5r7tHc9ygg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include("../../partials/alert.ejs") %>
    <%- include("../../partials/header.ejs") %>
        <section id="auth" style="min-height: 110vh;">
            <div class="form" style="width: 600px">
                <h2>PROFILE</h2>
                <div class="change-profile-img">
                    <img
                        id="profilePics"
                        src="<%= user.profilePics %>"
                        alt="profile_pic"
                    />
                </div>
                <h3><%= profile.name %> (<%= profile.title %>)</h3>
                <p><%= profile.bio %></p>
                <p class="website-link">
                    <% if(profile.website) { %> 
                        <a target="_blank" href="<%= profile.website %>"><i class="bi bi-google"></i></a>
                    <% } %> 
                </p>
                <a class="edit-profile-link" href="/profile/edit-profile">
                    Edit Profile 
                    <i class="bi bi-pencil"></i>
                </a>
            </div>
        </section>
    </header>
    <!-- Show reservation details -->
    <section id="reservation-details">
        <div class="sm-heading">
            <span>RESERVATION</span>
            <h1>RESERVATION DETAILS</h1>
        </div>
        <div class="container-sm">
            <div class="full-row">
                <div class="table-holder">
                    <table>
                        <tr>
                            <th>#</th>
                            <th>Floor</th>
                            <th>Person</th>
                            <th>Table Type</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Booked</th>
                            <th>Status</th>
                        </tr>
                        <% if(reservation && reservation.length > 0) { %> 
                            <% reservation.forEach((reserve, index) => { %> 
                                <tr>
                                    <td><%= index + 1 %></td>
                                    <td><%= reserve.floor %></td>
                                    <td><%= reserve.person %></td>
                                    <% if(reserve.person <4) { %>
                                        <td>SMALL</td>
                                    <% } else { %>
                                        <td>LARGE</td>
                                    <% } %>   
                                    <td><%= (reserve.date).toDateString() %></td>
                                    <td><%= reserve.time %></td>
                                    <td><%= (reserve.createdAt).toDateString() + " " + (reserve.createdAt).toLocaleTimeString() %></td>
                                    <td id="booking-status"><span><%= reserve.status %></span></td>
                                </tr>
                            <% }) %> 
                        <% } else { %>
                            <tr style="color: red;">
                                <td colspan="8" style="text-align: center;">Rejected or no reserved table request. <a href="/#reservation">Request Now</a></td>
                            </tr>
                        <% } %>  
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- My all Blogs -->
    <section id="our-blog" class="blogs">
        <div class="container-sm">
            <div class="sm-heading" style="width: 100%;">
                <p style="text-align: center;"><span>My BLOGS</span></p>
            </div>
            <div class="blog-heading">
                <h2>MY ALL BLOGS</h2>
                <a href="/blog#our-blog"><button>VIEW ALL</button></a>
            </div>
            <div class="show-blog">
                <div class="container-sm">
                    <div class="full-row">
                        <% if(profile && profile.posts.length > 0) { %>
                            <% profile.posts.forEach((post) => { %>
                                <div class="single-blog">
                                    <div class="blog-img">
                                        <img src="<%= post.thumbnail %>" alt="blog-1">
                                    </div>
                                    <div class="blog-des">
                                        <small>
                                            <span>By:</span>
                                            <span class="name"><%= post.author.username %> ,</span>
                                            <span class="date">
                                                <%= post.createdAt.toLocaleDateString() %> 
                                            </span>
                                        </small>
                                        <h3><a href="/blog/show/<%= post._id %>"><%= post.title %></a></h3>
                                        <a href="/blog/show/<%= post._id %>">READ MORE <i class="bi bi-arrow-right"></i></a>
                                    </div>
                                </div>
                            <% }) %> 
                        <% } else { %>  
                            <p style="color: whitesmoke;">No post found. <a href="/blog/create#create-blog">Create Now</a></p>
                        <% } %> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- show bookmarked Blogs -->
    <section id="our-blog" class="blogs">
        <div class="container-sm">
            <div class="sm-heading" style="width: 100%;">
                <p style="text-align: center;"><span>BOOKMARKED BLOGS</span></p>
            </div>
            <div class="blog-heading">
                <h2>SHOW ALL BOOKMARKED BLOGS</h2>
                <a href="/blog#our-blog"><button>VIEW ALL</button></a>
            </div>
            <div class="show-blog">
                <div class="container-sm">
                    <div class="full-row">
                        <% if(profile && profile.bookmarks.length > 0) { %>
                            <% profile.bookmarks.forEach((bookmark) => { %>
                                <div class="single-blog">
                                    <div class="blog-img">
                                        <img src="<%= bookmark.thumbnail %>" alt="blog-1">
                                    </div>
                                    <div class="blog-des">
                                        <small>
                                            <span>By:</span>
                                            <span class="name"><%= bookmark.author.username %> ,</span>
                                            <span class="date">
                                                <%= bookmark.createdAt.toLocaleDateString() %> 
                                            </span>
                                        </small>
                                        <h3><a href="/blog/show/<%= bookmark._id %>"><%= bookmark.title %></a></h3>
                                        <a href="/blog/show/<%= bookmark._id %>">READ MORE <i class="bi bi-arrow-right"></i></a>
                                    </div>
                                </div>
                            <% }) %> 
                        <% } else { %> 
                            <p style="color: whitesmoke;">No bookmarked post found</p>
                        <% } %>  
                    </div>
                </div>
            </div>
        </div>
    </section>


    <%- include("../../partials/footer.ejs") %>
    <script>
        const bookingStatus = document.querySelector("#booking-status span");
        (bookingStatus.innerHTML == "Approved") ? bookingStatus.classList.add("accepted") : bookingStatus.classList.remove("accepted");
    </script>
</body>
</html>